<!DOCTYPE html>
<html>
<head>
	<title>EXPENSE MANAGER</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   
</head>
<body style="background-image: url(http://www.solidbackgrounds.com/images/1920x1200/1920x1200-light-blue-solid-color-background.jpg);">
  <div class="jumbotron" style="
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/C2SkUEF/mg0019-subtle-teal-moving-texture-animated-background_njdinzsbl__S0000.jpg); 
  border-width: 50px;
  border-color:white;">
   
  <h1>EXPENSE MANAGER</h1>      
  <p>Manage your expenses .Know your Expenses.</p>
</div>
  <div class="container">
    <!-- Static navbar -->
    

      